pytesseract==0.3.13
python-dotenv==1.0.1
Pillow==10.0.1
spacy==3.7.6
mindee==4.10.0
opencv-python==4.10.0.84
Flask==3.0.3
Flask-Login
Flask-WTF==1.2.1
Flask-Bcrypt==1.0.1
google-cloud-storage
requests
google-auth-oauthlib
google-auth-httplib2==0.2.0
google-api-python-client==2.142.0
google-auth
werkzeug==3.0.4
email_validator==2.2.0
oauth2client==4.1.3
